.App {
  text-align: center;
}

.top {
  width: 100%;
  background-color:#2F4F4F;
  padding: 2% 0 2% 0;
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
}

.text {
  color: 	#008080;
}

.View-content {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

